@model IEnumerable<BugTracker2.Models.Attachments>

@{
    ViewBag.Title = "Attachments";
}

<h2>List of Attachments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="mytable" class="data-table-xl hover row-border table-striped compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tickets.OwnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmitterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th></th>
        </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tickets.OwnerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                   <h5>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</h5>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
</tbody>
</table>
