@model IEnumerable<BugTracker2.Models.Attachments>
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>List all of your Attachments</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12 subnav">
                    <table id="mytable" class="data-table-xl hover row-border table-striped compact">
                        <thead>
                            <tr>
                                <th>
                                       Ticket
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.TicketsId)
                                    </th>*@
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Tickets.OwnerId)
                                    </th>*@
                                @*<th>
                                        @Html.DisplayNameFor(model => model.SubmitterId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Body)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.MediaUrl)
                                </th>
                                <th>
                                  Created Date
                                </th>
                                <th>
                                    Updated Date
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Tickets.Title)
                                        </td>
                                       @*<td>
                                            @Html.DisplayFor(modelItem => item.TicketsId)
                                        </td>*@
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.Tickets.Owner.LastName)
                                        </td>*@
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.SubmitterId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Body)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MediaUrl)
                                    </td>
                                    <td>
                                        @item.Created.ToString("M/dd/yyyy")
                                    </td>
                                    <td>
                                        @item.Updated.ToString("M/dd/yyyy")
                                    </td>
                                    <td>
                                        <h5>
                                            @Html.ActionLink("Edit", "Edit", "Attachments", new { id = item.Id }, new { @class = "btn btn-primary btn-sm", @style = "color:white" })
                                            @Html.ActionLink("Details", "Details", "Attachments", new { id = item.Id }, new { @class = "btn btn-success btn-sm", @style = "color:white" })
                                        </h5>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <input type="button" class="btn btn-primary btn-default" value="Return To Dashboard" onclick="location.href='@Url.Action("Dashboard", "Home")'" />
    <input type="button" class="btn btn-info btn-default" value="Back to tickets" onclick="location.href='@Url.Action("Index", "Tickets")'" />
</div>
