@model BugTracker2.Models.Tickets
@{
    ViewBag.Title = "Close";
 }


<div class="col-md-12 subnav">
    <h3>Close Ticket: @Model.Title</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 content">
            <h5>Are you sure you want to close this ticket?</h5>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project Title</th>
                        <th>Assigned To</th>
                        <th>Created</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Project.Title</td>
                        @if (@Model.AssignedUser == null)
                        {
                            <td>Unassigned</td>
                        }
                        else
                        {
                            <td>@Model.AssignedUser.LastName</td>
                        }
                        <td>@Model.Created.ToString("M/d/yy")</td>
                        @if (@Model.Updated == null)
                        {
                            <td>Never</td>
                        }
                        else
                        {
                            <td>@Model.Updated.Value.ToString("M/d/yy")</td>
                        }
                    </tr>
                </tbody>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-actions no-color content">
                    <input type="submit" value="Close" class="btn btn-default" />
                </div>
                <h5 class="content">@Html.ActionLink("Back to Tickets", "Index")</h5>
            }


        </div>
    </div>
</div>




