@model IEnumerable<BugTracker2.Models.Projects>

@{
    ViewBag.Title = "FullList";
}


<h2>All Projects</h2>
@*<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
        <h5>@Html.ActionLink("Create", "Create", "Projects")</h5>
    }
</p>*@

<table id="mytable" class="data-table-xl hover row-border table-striped compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Users)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Users)
                    </td>*@
                <td><h5>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, null) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }, null)
    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
   </h5></td>
              
            </tr>
        }
    </tbody>
</table>

    <p>
        @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
        {
            <h5>@Html.ActionLink("Create A New Project", "Create", "Projects")</h5>
        }
    </p>
<h5>
    @Html.ActionLink("Back To Your Projects", "Index", "Projects")
</h5>