@model BugTracker2.Models.AdminUserViewModel
@{
    ViewBag.Title = "EditUser";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Edit User </h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12 subnav">
                    @*<h4>Ticket: @Model.Title</h4>*@

                    <h3>Assign Roles To: @Model.User.FirstName @Model.User.LastName</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.User.Id)

    <div class="form-group selected">
        @Html.LabelFor(model => model.Roles, new { @class = "control-label col-sm-2" })
        <div class="col-sm-10">
            @Html.ListBoxFor(model => model.SelectedRoles, Model.Roles, new { @class = "form-control", size = 12 })
            @Html.ValidationMessageFor(model => model.SelectedRoles, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

                    <div>
                        <input type="button" class="btn btn-primary btn-default" value="Back To List" onclick="location.href='@Url.Action("Index", "Admin")'" />
                    </div>
                    </div>
</div>
</div>
        </div>
    </div>



                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.table').dataTable().columnFilter({
                                    aoColumns: [
                                        { type: "text" },
                                        { type: "select", values: ['Admin', 'Project Manager', 'Developer', 'Submitter'] },
                                        { type: "text" },
                                    ]

                                });
                            });
                        </script>
                    }
