@model IEnumerable<BugTracker2.Models.ApplicationUser>
<style>
    body {
        margin: 50px;
    }
</style>
<h2>User List</h2>
<table c="mytable" class="data-table-xl hover row-border table-striped compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.LastName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles)
                </td>
                <td>
                    <h5>
                        @Html.ActionLink("Assign Roles", "EditUser", "Admin", new { id = item.Id }, null) |
                        @Html.ActionLink("Assign to Projects", "ProjectUser", "Admin", new { id = item.Id }, null)
                    </h5>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('mytable').dataTable().columnFilter({
                aoColumns: [
                    { type: "text" },
                    { type: "select", values: ['Admin', 'ProjectManager', 'Developer', 'Submitter'] },
                    { type: "text" },
                ]

            });
        });

    </script>
}