@model BugTracker2.Models.AdminProjectUserAssignViewModel
@{
    ViewBag.Title = "ProjectUser";

}

<style>
    body {
      margin: 100px 400px 0px 500px;
    }
    .form-group selected {
        border: 10px;
    }
    .btn btn-default {
        margin: 10px;
    }
</style>

<h1>
Assign Projects
</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.User.Id)

<div class="form-group selected">   
    @Html.LabelFor(model => model.project, new { @class = "control-label col-sm-2" })
    <div class="col-sm-10">
        @Html.ListBoxFor(model => model.SelectedProjects, Model.project, new { @class = "form-control", size = 12 })
        @Html.ValidationMessageFor(model => model.SelectedProjects, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


